.hero-img{
justify-content: center;
padding: 30px;
border-radius: 100px;

}
.home{
  background-color: saddlebrown;
  min-height: 100vh;
}
.btn{
  width:100px;
  border-radius: 80px;
  align-self: center;
  background-color: brown;
  border: 3px white solid;
  color: azure;
}
.input-login{
  background-color: bisque;
 border-radius: 10px;
 cursor: pointer;
}
.card{
  background-color: saddlebrown;
  align-self: center;
  margin-top: 30px;
}
.navbar:hover{
  background-color: bisque;
  color: black;
  font-weight: bold;
  
}
.navbar{
  background-color: beige;
}
.shop{
  background-color: bisque;
}
.row{
  justify-content: center;
  margin: 20px;
}
.card:hover{
border:3px brown solid ;
border-radius: 20px;
transform:translateY(15px);
}
.search-input{
  background-color: bisque;
}